<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
         <form action="/additem" method="post">
            <input type="text" placeholder="tweet" name="content">
            <input type="submit">
        </form>
    </div>

    <div>
         <form action="/search" method="post" class="staticRoute">
            <input type="text" placeholder="tweet" name="timestamp">
            <input type="text" placeholder="tweet" name="username">
            <input type="text" placeholder="tweet" name="keyword">
            <input type="text" placeholder="tweet" name="limit">
            <input type="text" placeholder="tweet" name="following">
            <input type="submit">
        </form>
    </div>

    {% for tweet in tweets %}
        <div>
            <p>
                {{ tweet['username']}}: <br>
                {{ tweet['content'] }}
            </p>
        </div>
</body>
</html>
