<!DOCTYPE html> <html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="pure-menu pure-menu-horizontal">
        <span class="pure-menu-heading">Twitter</span>
    </div>
    <div class="tweets">
        <h2>{{ username }}</h2>
        {% if following %}
            <button onclick='unfollow("{{ username }}")'>unfollow</button>
        {% else %}
            <button onclick='follow("{{ username }}")'>follow</button>
        {% endif %}

    {% for tweet in tweets %}
        <div>
            <p>
                {{ tweet['username']}}: <br>
                {{ tweet['content'] }}
                
            </p>
            <button onclick='like("{{ tweet.id }}")'>like</button>
            <button onclick='unlike("{{ tweet.id }}")'>unlike</button>
        </div>
    {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"> </script>
    <script src="/public/js/profile.js"></script>
</body>
</html>
